name: <%= @file %>
version: 0.1.0

authors:
  - Runcobo <runcobo@example.com>

targets:
  <%= @file %>:
    main: src/<%= @file %>.cr

license: MIT

dependencies:
  runcobo:
    github: runcobo/runcobo
